/.env
/helm/api-platform/charts/*
!/helm/api-platform/charts/.gitignore


/pwa/node_modules
/pwa/.pnp
/pwa/.pnp.js

# testing
/pwa/coverage

# production
/pwa/build

# misc
/pwa/.DS_Store
/pwa/.env.local
/pwa/.env.development.local
/pwa/.env.test.local
/pwa/.env.production.local

/pwa/npm-debug.log*
/pwa/yarn-debug.log*
/pwa/yarn-error.log*